* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial;
}

body {
  background: rgb(48, 48, 48);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-box {
  width: 700px;
  background: #fff;
  padding: 25px 35px;
  border-radius: 10px;
}

.qr-box p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.qr-box input {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 10px 0 20px; /*10 itu atas 0 itu kiri kanan 20 itu bawah*/
  border: 1px solid #494eea;
  border-radius: 5px;
  outline: 0;
}

.qr-box button {
  width: 100%;
  height: 50px;
  color: #fff;
  background: #494eea;
  border-radius: 10px;
  font-size: 16px;
  outline: 0;
  border: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  cursor: pointer;
}

#img-box {
  width: 200px;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  transition: max-height 1s;
}

#img-box img {
  width: 100%;
  padding: 10px;
}

#img-box.show-image {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}
